<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
</head>
<body>
    <section>
        <h1>Sign-Up Page</h1>
        <input type="text" id="signupuser" placeholder="Create username">
        <input type="email" id="signupemail" placeholder="Email here">
        <input type="password" id="signuppass" placeholder="Create password">
        <button type="button" id="btn-default" value="Signup">Create Account</button>
    </section>
</body>
</html>